body {
  margin: 0;
}

div {
  width: 60vw;
  margin: auto;
  border: 0.5px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

h2 {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: blue;
  color: white;
  margin: 0;
}

#content {
  width: 100%;
  margin: 0;
  padding: 10px;
  transition: all 0.3s;
}

.hide {
  height: 0;
  overflow: hidden;
  padding: 0 10px !important;
  margin: 0;
}
h2:hover{
  cursor:pointer;
}

